MONGO_URI=mongodb://mongodb:27017/?replicaSet=rs0
MONGO_DB=rumie

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_root
MINIO_SECRET_KEY=change_me_minimum_8_chars
MINIO_BUCKET=assets
MINIO_SECURE=false

PUBLIC_ASSET_BASE=https://rumie.xyz/assets

JWT_SECRET=replace_with_long_random_string
JWT_ALG=HS256
ACCESS_TTL_S=900
REFRESH_TTL_S=2592000
PRESIGN_TTL_S=900
